.blog-single-sec {
    position: relative;
    padding: rem-calc(62 0);
    @include bp(tabletsm) {
        padding: rem-calc(40 0 40);
    }
    .blog-single-wrap {
        padding: rem-calc(0 330 0 110);
        @include bp(lg) {
            padding: rem-calc(0 50 0 50);
        }
        @include bp(tabletsm) {
            padding: rem-calc(0);
        }
        .blog-cont {
            margin: rem-calc(0 0 30 0);
            .blog-cont-heading {
                span {
                    font-size: rem-calc(18);
                    color: $light-silver;
                    font-weight: $bold;
                    font-family: $Lato;
                    letter-spacing: -1px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #d9e6ee;
                    margin-bottom: 20px;
                    display: inline-block;
                    vertical-align: top;
                    @include bp(tabletXl) {
                        font-size: rem-calc(16);
                        margin-bottom: 10px;
                    }
                }
                h1 {
                    color: $dark-navy-blue;
                }
                h2 {
                    font-size: rem-calc(38);
                    color: $dark-navy-blue;
                    font-weight: $bold;
                    font-family: $zeitung;
                    margin-bottom: 12px;
                    @include bp(lg) {
                        font-size: rem-calc(30);
                    }
                    @include bp(tabletXl) {
                        font-size: rem-calc(26);
                    }
                    @include bp(tabletsm) {
                        font-size: rem-calc(24);
                    }
                }
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    margin: rem-calc(0 0 28 0);
                    li {
                        width: auto;
                        list-style-type: none;
                        span {
                            &.post-date {
                                font-size: rem-calc(18);
                                color: $dark-navy-blue;
                                font-weight: $normal;
                                font-family: $Lato;
                                padding: rem-calc(0 10 0 0);
                                margin: rem-calc(0 12 0 0);
                                display: inline-block;
                                vertical-align: top;
                                border-bottom: 0;
                                border-right: 1px solid $gray;
                                letter-spacing: 0;
                                @include bp(tabletXl) {
                                    font-size: rem-calc(16);
                                }
                            }
                            &.post-author {
                                font-size: rem-calc(18);
                                color: $blue;
                                font-weight: $bold;
                                font-family: $Lato;
                                padding: 0;
                                margin: 0;
                                display: inline-block;
                                vertical-align: top;
                                letter-spacing: 0;
                                border-bottom: 0;
                                @include bp(tabletXl) {
                                    font-size: rem-calc(16);
                                }
                            }
                        }
                    }
                }
                p {
                    margin: rem-calc(0 0 18 0);
                }
            }
            .blog-cont-wrap {
                h2 {
                    font-size: rem-calc(34);
                    color: $dark-navy-blue;
                    font-weight: $bold;
                    font-family: $zeitung;
                    margin: rem-calc(35 0 27);
                    @include bp(lg) {
                        font-size: rem-calc(28);
                        margin: rem-calc(20 0 20);
                    }
                    @include bp(tabletXl) {
                        font-size: rem-calc(26);
                    }
                    @include bp(tabletsm) {
                        font-size: rem-calc(24);
                        margin: rem-calc(10 0 10);
                    }
                }
                table {
                    table-layout: auto;
                    tbody {
                        tr {
                            td  {
                                color: $gray;
                            }
                        }
                    }
                }
                p {
                    margin: rem-calc(0 0 18 0);
                }
                h3 {
                    font-size: rem-calc(26);
                    color: $blue;
                    font-weight: $bold;
                    font-family: $zeitung;
                    margin: rem-calc(38 0 16);
                    @include bp(lg) {
                        font-size: rem-calc(24);
                        margin: rem-calc(20 0 15);
                    }
                    @include bp(tabletXl) {
                        font-size: rem-calc(22);
                        margin: rem-calc(10 0 10);
                    }
                    @include bp(tabletsm) {
                        font-size: rem-calc(20);
                    }
                }
                h4 {
                    color: #069;
                }
                img {
                    margin: rem-calc(0 0 30 0);
                    @include bp(tabletXl) {
                        margin: rem-calc(0 0 15 0);
                    }
                    &.aligncenter {
                        margin: 0 auto 30px;
                    }
                }
                ul {
                    padding: rem-calc(0 0 0 48);
                    margin: rem-calc(45 0 40 0);
                    @include bp(tabletXl) {
                        padding: rem-calc(0 0 0 15);
                        margin: rem-calc(15 0 15 15);
                    }
                    li {
                        font-size: rem-calc(18);
                        color: $gray;
                        font-weight: $normal;
                        font-family: $Lato;
                        margin: rem-calc(0 0 12 0);
                        @include bp(tabletXl) {
                            font-size: rem-calc(16);
                            line-height: 1.5;
                            margin-bottom: rem-calc(10);
                        }
                        @include bp(tabletsm) {
                            font-size: rem-calc(15);
                            line-height: 1.5;
                        }
                    }
                }
                ol {
                    padding: rem-calc(0 0 0 48);
                    margin: rem-calc(45 0 40 0);
                    @include bp(tabletXl) {
                        padding: rem-calc(0 0 0 15);
                        margin: rem-calc(15 0 15 15);
                    }
                    li {
                        font-size: rem-calc(20);
                        color: $gray;
                        font-weight: $normal;
                        font-family: $Lato;
                        margin: rem-calc(0 0 12 0);
                        @include bp(tabletXl) {
                            font-size: rem-calc(18);
                            line-height: 1.5;
                            margin-bottom: rem-calc(10);
                        }
                        @include bp(tabletsm) {
                            font-size: rem-calc(16);
                            line-height: 1.5;
                        }
                    }
                }
            }
        }
        .blog-written-sec {
            .blog-written-wrap {
                border: 1px solid #7d858c;
                display: flex;
                flex-wrap: wrap;
                padding: rem-calc(53 65 42 77);
                align-items: center;
                @include bp(lg) {
                    padding: rem-calc(30);
                }
                @include bp(tabletXl) {
                    padding: rem-calc(25);
                }
                @include bp(tabletsm) {
                    padding: rem-calc(15);
                }
                .blog-written-bg {
                    @include bp(tabletsm) {
                        width: 100%;
                        text-align: center;
                        margin: rem-calc(0 0 30 0);
                    }
                    .bg {
                        width: rem-calc(142);
                        height: rem-calc(142);
                        border-radius: 50%;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        margin: 0 auto;
                        @include bp(tabletsm) {
                            width: rem-calc(115);
                            height: rem-calc(115);
                        }
                    }
                }
                .blog-written-cont {
                    width: calc(100% - 160px);
                    padding: rem-calc(0 0 0 63);
                    @include bp(tabletXl) {
                        padding: rem-calc(0 0 0 20);
                    }
                    @include bp(tabletsm) {
                        width: 100%;
                        padding: rem-calc(0 0 0 0);
                    }
                    span {
                        font-size: rem-calc(18);
                        color: $light-silver;
                        font-weight: $bold;
                        font-family: $Lato;
                        margin: 0 0 10px 0;
                        display: inline-flex;
                        vertical-align: top;
                        @include bp(tabletXl) {
                            font-size: rem-calc(16);
                            line-height: 1.5;
                            margin-bottom: rem-calc(10);
                        }
                    }
                    h2 {
                        font-size: rem-calc(26);
                        color: $blue;
                        font-weight: $mediumdark;
                        font-family: $zeitung;
                        text-transform: uppercase;
                        margin: rem-calc(0 0 10 0);
                        @include bp(tabletXl) {
                            font-size: rem-calc(24);
                        }
                        @include bp(tabletsm) {
                            font-size: rem-calc(20);
                        }
                    }
                    p {
                        font-size: rem-calc(18);
                        color: $gray;
                        font-weight: $normal;
                        font-family: $Lato;
                        line-height: 28px;
                        @include bp(tabletXl) {
                            font-size: rem-calc(18);
                            line-height: 1.45;
                            margin-bottom: rem-calc(15);
                        }
                        @include bp(tabletsm) {
                            font-size: rem-calc(16);
                            margin-bottom: rem-calc(10);
                        }
                    }
                }
            }
        }
        .next-prev {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: rem-calc(20 0 0 0);
            .resources-link {
                width: 30%;
                @include bp(tabletsm) {
                    width: 100%;
                    margin: rem-calc(0 0 15 0);
                }
                a {
                    padding-left: 25px;
                    font-size: rem-calc(20);
                    font-weight: $normal;
                    font-family: $Lato;
                    color: $gray;
                    padding-right: 25px;
                    text-align: right;
                    position: relative;
                    @include bp(xl) {
                        font-size: rem-calc(18);
                    }
                    &:before {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        top: 5px;
                        left: 0px;
                        width: 0;
                        height: 0;
                        border-top: 8px solid transparent;
                        border-right: 16px solid #0E93D2;
                        border-bottom: 8px solid transparent;
                        @include bp(tabletmd) {
                            top: 3px;
                        }
                    }
                }
            }
            .next-post-link {
                width: 70%;
                @include bp(tabletsm) {
                    width: 100%;
                }
                a {
                    font-size: rem-calc(20);
                    font-weight: $normal;
                    font-family: $Lato;
                    color: $gray;
                    display: inline-block;
                    vertical-align: top;
                    padding-right: 25px;
                    text-align: right;
                    position: relative;
                    @include bp(xl) {
                        font-size: rem-calc(18);
                    }
                    &:before {
                        content: " ";
                        display: inline-block;
                        position: absolute;
                        top: 5px;
                        right: -3px;
                        width: 0;
                        height: 0;
                        border-top: 8px solid transparent;
                        border-left: 16px solid #0E93D2;
                        border-bottom: 8px solid transparent;
                        @include bp(tabletmd) {
                            top: 3px;
                        }
                    }
                }
            }
        }
    }
}
