.careers-list-sec {
    position: relative;
    padding: rem-calc(95 0 90);
    @include bp(tabletXl) {
        padding: rem-calc(60 0 60);
    }
    @include bp(tabletsm) {
        padding: rem-calc(40 0 40);
    }
    .careers-list-wrap {
        padding: rem-calc(0 100 0 48);
        @include bp(xlthr) {
            padding: rem-calc(0 30 0 30);
        }
        @include bp(lg) {
            padding: rem-calc(0);
        }
        table {
            width: 100%;
            border-collapse: collapse;
            border: 0;
            @include bp(tabletsm) {
                display: block;
            }
            thead {
                @include bp(tabletsm) {
                    display: block;
                }
                tr {
                    @include bp(tabletsm) {
                        display: block;
                    }
                    th {
                        border: 0;
                        font-family: $zeitung;
                        color: $blue;
                        font-weight: $bold;
                        font-size: rem-calc(24);
                        padding: rem-calc(12 0 20);
                        width: 26.9%;
                        @include bp(lg) {
                            font-size: rem-calc(22);
                        }
                        @include bp(tabletXl) {
                            padding: rem-calc(6);
                        }
                        @include bp(tabletsm) {
                            display: none;
                        }
                        &:first-child {
                            width: 61.5%;
                        }
                    }
                }
            }
            tbody {
                @include bp(tabletsm) {
                    display: block;
                }
                tr {
                    border-top: 1px solid #a2a9ad;
                    @include bp(tabletsm) {
                        display: block;
                        border: 0;
                    }
                    td {
                        border: 0;
                        color: $dark-navy-blue;
                        font-family: $Lato;
                        font-weight: $blackwht;
                        font-size: rem-calc(23);
                        padding: rem-calc(11 0);
                        line-height: rem-calc(30);
                        letter-spacing: -0.2px;
                        &:first-child {
                            a {
                                color: $dark-navy-blue;
                                font-family: $Lato;
                                font-weight: $blackwht;
                                font-size: rem-calc(23);
                                padding: rem-calc(11 0);
                                line-height: rem-calc(30);
                                letter-spacing: -0.2px;
                            }
                        }
                        @include bp(lg) {
                            font-size: rem-calc(20);
                        }
                        @include bp(tabletXl) {
                            padding: rem-calc(6);
                        }
                        @include bp(tabletmd) {
                            font-size: rem-calc(18);
                        }
                        @include bp(tabletsm) {
                            display: block;
                            position: relative;
                            padding: 5px 0 5px 50%;
                            border-top: 1px solid #a2a9ad;
                            &:nth-of-type(1) {
                                &:before {
                                    content: "Position";
                                }
                            }
                            &:nth-of-type(2) {
                                &:before {
                                    content: "Location";
                                }
                            }
                            &:before {
                                position: absolute;
                                top: 6px;
                                left: 6px;
                                width: 45%;
                                padding-right: 10px;
                                white-space: nowrap;
                            }
                        }
                        @include bp(sm) {
                            font-size: rem-calc(16);
                            line-height: rem-calc(24);
                        }
                        &:nth-of-type(2n) {
                            font-family: $Lato;
                            font-weight: $normal;
                            font-size: rem-calc(20);
                            color: $gray;
                            @include bp(lg) {
                                font-size: rem-calc(20);
                            }
                            @include bp(tabletmd) {
                                font-size: rem-calc(18);
                            }
                            @include bp(sm) {
                                font-size: rem-calc(16);
                            }
                        }
                        a {
                            font-family: $Lato;
                            color: $blue;
                            font-weight: $bold;
                            font-size: rem-calc(20);
                            @include bp(lg) {
                                font-size: rem-calc(18);
                            }
                            @include bp(tabletmd) {
                                font-size: rem-calc(16);
                            }
                            @include bp(sm) {
                                font-size: rem-calc(15);
                            }
                            &:hover {
                                color: $dark-navy-blue;
                                i {
                                    color: $dark-navy-blue;
                                }
                            }
                            i {
                                font-style: normal;
                                font-family: $Poppins;
                                color: $blue;
                                font-weight: $bold;
                                font-size: rem-calc(20);
                                @include bp(lg) {
                                    font-size: rem-calc(18);
                                }
                                @include bp(tabletmd) {
                                    font-size: rem-calc(16);
                                }
                                @include bp(sm) {
                                    font-size: rem-calc(15);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
