.careers-single-sec {
    position: relative;
    padding: rem-calc(93 0 68);
    @include bp(tabletXl) {
        padding: rem-calc(60 0 60);
    }
    @include bp(tabletsm) {
        padding: rem-calc(40 0 40);
    }
    .careers-single-cont {
        padding: rem-calc(0 18 0 30);
        @include bp(lg) {
            padding: rem-calc(0 0 0 0);
        }
        h2 {
            color: $dark-navy-blue;
        }
        h3 {
            color: $blue;
        }
        p {
            margin-bottom: rem-calc(14);
            line-height: 1.55;
            &:last-child {
                margin-bottom: rem-calc(53);
            }
        }
        ul {
            padding: rem-calc(0 0 0 47);
            @include bp(tabletsm) {
                padding: rem-calc(0 0 0 25);
            }
            li {
                font-size: rem-calc(20);
                line-height: 1.54;
                margin-bottom: rem-calc(14);
                color: $blue;
                font-family: $Lato;
                @include bp(tabletXl) {
                    font-size: rem-calc(18);
                    line-height: 1.45;
                }
            }
        }
		ol {
            padding: rem-calc(0 0 0 47);
            @include bp(tabletsm) {
                padding: rem-calc(0 0 0 25);
            }
            li {
                font-size: rem-calc(20);
                line-height: 1.54;
                margin-bottom: rem-calc(14);
                color: $gray;
                font-family: $Lato;
                @include bp(tabletXl) {
                    font-size: rem-calc(18);
                    line-height: 1.45;
                }
            }
        }
        .job-openings-btn {
            margin: rem-calc(50 0 0 26);
            a {
                border: 1px solid #7b868c;
                padding: 10px 23px;
                color: #7b868c;
                &:hover {
                    background-color: #7b868c;
                    color: $white;
                    border-color: #7b868c;
                }
            }
        }
    }
    .careers-form-inherit {
        position: inherit;
        @include bp(tabletsm) {
            position: relative;
        }
        .apply-heading {
            position: absolute;
            top: 255px;
            z-index: 1;
            right: 290px;
            font-size: 36px;
            color: $white;
            @include bp(xl) {
                right: 230px;
            }
            @include bp(lg) {
                right: 120px;
            }
            @include bp(tabletmd) {
                right: 170px;
                font-size: rem-calc(28);
            }
            @include bp(tabletsm) {
                top: 80px;
                right: inherit;
                left: 40px;
            }
        }
        .hbspt-form {
            background-color: #00385f;
            position: absolute;
            right: 0;
            padding: 145px 60px 40px;
            max-width: 570px;
            width: 100%;
            top: 187px;
            @include bp(xl) {
                max-width: 500px;
            }
            @include bp(lg) {
                max-width: 400px;
            }
            @include bp(tabletmd) {
                max-width: 370px;
                padding: 130px 30px;
            }
            @include bp(tabletsm) {
                max-width: 100%;
                position: relative;
                margin: rem-calc(30 0 0 0);
            }
            form {
                width: 100%;
                max-width: 100%;
                .hs-form-field {
                    width: 100%!important;
                    float: none!important;
                    label {
                        display: none!important;
                    }
                    .input {
                        margin: 0!important;
                        position: relative;
                        .hs-input {
                            font-size: rem-calc(18);
                            line-height: 1.2;
                            font-family: $Lato;
                            font-weight: $normal;
                            padding: rem-calc(11 20);
                            color: #152737;
                            border: 1px solid #7d858c;
                            max-width: 100%;
                            border-radius: 0;
                            -webkit-appearance: none;
                            margin: 0 0 14px 0;
                            width: 100%;
                            box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            -ms-box-sizing: border-box;
                            box-shadow: none;
                            height: auto;
                            background-color: $white;
                        }
                        .hs-input {
                            textarea {
                                height: rem-calc(120);
                            }
                        }
                        .uplo-sec {
                            p {
                                margin: 0 0 10px 0;
                                display: flex;
                                align-items: center;
                                color: $white;
                                word-break: break-all;
                                font-size: 16px;
                                a {
                                    font-size: rem-calc(16);
                                    font-weight: $bold;
                                    font-family: $zeitung;
                                    color: $white;
                                    border: 1px solid $white;
                                    padding: 4px 35px 8px;
                                    display: inline-block;
                                    vertical-align: top;
                                    border-radius: 50px;
                                    line-height: 20px;
                                    margin: 0 20px 0 0;
                                    cursor: pointer;
                                    word-break: normal;
                                }
                            }
                        }
                    }
                }
                .hs-richtext {
                    margin: 11px 0;
                    h3 {
                        font-size: 19px;
                        font-weight: normal;
                        letter-spacing: 0;
                        color: $white;
                    }
                }
                .hs_submit {
                    .actions {
                        text-align: right;
                        margin: rem-calc(41 20 0 0);
                        padding: 0;
                        input[type="submit"] {
                            background-color: $dark-red;
                            color: $white;
                            font-size: rem-calc(19);
                            font-weight: $bold;
                            font-family: $zeitung;
                            text-transform: uppercase;
                            padding: rem-calc(16 25);
                            border-radius: 50px;
                        }
                    }
                }
            }
        }
    }
}

.benefits-sec {
    position: relative;
    padding: rem-calc(80 0 76);
    @include bp(tabletXl) {
        padding: rem-calc(60 0 60);
    }
    @include bp(tabletsm) {
        padding: rem-calc(40 0 40);
    }
    .benefits-cont {
        padding: rem-calc(0 270 0 30);
        @include bp(lg) {
            padding: rem-calc(0 0 0 0);
        }
        h2 {
            color: $dark-navy-blue;
        }
    }
}
.recruiters-placement-sec {
    position: relative;
    padding: rem-calc(82 0 87);
    @include bp(tabletXl) {
        padding: rem-calc(60 0 60);
    }
    @include bp(tabletsm) {
        padding: rem-calc(40 0 40);
    }
    .recruiters-placement-cont {
        padding: rem-calc(0 225 0 27);
        @include bp(lg) {
            padding: rem-calc(0 0 0 0);
        }
        h2 {
            font-size: rem-calc(24);
            color: $white;
            letter-spacing: 0;
            margin: rem-calc(0 0 9 0);

        }
        p {
            color: $white;
        }
    }
}
