.featured-news-updates-sec {
    position: relative;
    padding: rem-calc(94 0 80);
    @include bp(tabletXl) {
        padding: rem-calc(60 0 60);
    }
    @include bp(tabletsm) {
        padding: rem-calc(40 0 40);
    }
    .heading {
        text-align: center;
        margin: rem-calc(0 0 45 0);
        @include bp(tabletmd) {
            margin: rem-calc(0 0 30 0);
        }
        h2 {
            color: $light-silver;
        }
    }
    .featured-updates-list {
        padding-bottom: rem-calc(30);
        a {
            display: block;
            height: 100%;
            &:hover {
                .featured-updates-wrap {
                    h3 {
                        color: $parrot-green;
                    }
                    span {
                        background-color: $parrot-green;
                    }
                }
            }
        }
        .featured-updates-wrap {
            border: 1px solid $silver;
            height: 100%;
            padding: rem-calc(33 53 60);
            position: relative;
            @include bp(xl) {
                padding: rem-calc(25 40 40);
            }
            @include bp(lg) {
                padding: rem-calc(20 30 30);
            }
            @include bp(tabletmd) {
                padding: rem-calc(15 15 30 15);
            }
            .featured-updates-logo {
                margin: rem-calc(0 0 15 0);
                img {
                    max-height: rem-calc(95);
                    height: 100%;
                    @include bp(tabletmd) {
                        max-height: rem-calc(55);
                    }
                }
            }
            h3 {
                font-size: rem-calc(30);
                line-height: 1.35;
                font-weight: $bold;
                color: #11395F;
                font-family: $Lato;
                letter-spacing: -0.2px;
                @include transition(0.5s, all, ease-in-out);
                @include bp(lg) {
                    font-size: rem-calc(26);
                }
                @include bp(tabletmd) {
                    font-size: rem-calc(21);
                }
            }
            span {
                background-image: url(../images/right-pattern.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 13px 15px;
                position: absolute;
                right: 0;
                bottom: 0;
                background-color: $dark-navy-blue;
                width: 55px;
                height: 50px;
                @include transition(0.5s, all, ease-in-out);
                @include bp(tabletmd) {
                    width: rem-calc(40);
                    height: rem-calc(35);
                }
            }
        }
    }
    .featured-news-btn {
        text-align: center;
        margin: rem-calc(18 0 0 0);
        @include bp(tabletsm) {
            margin: rem-calc(0 0 0 0);
        }
        a {
            width: auto;
            display: inline-block;
            vertical-align: middle;
        }
    }
}