 .featured-integrations-block {
    position: relative;
    padding: rem-calc(70 0 40);
    @include bp(tabletXl) {
        padding: rem-calc(60 0 40);
    }
    @include bp(tabletsm) {
        padding: rem-calc(40 0 20);
    }
    .heading {
        margin: rem-calc(0 0 70 0);
        h2 {
            color: $dark-navy-blue;
        }
    }
    .featured-integrations-logo {
        text-align: center;
        padding: rem-calc(0 10 0);
        margin: rem-calc(0 0 20 0);
    }
     a {
         &.btn {
             position: relative;
             &:hover {
                 &:before {
                     border-left-color: $white;
                 }
             }
             &:before {
                 content: "";
                 border-left: 10px solid #7C878D;
                 border-right: 5px solid transparent;
                 border-bottom: 5px solid transparent;
                 border-top: 5px solid transparent;
                 position: absolute;
                 right: 13px;
                 top: 50%;
                 transform: translateY(-50%);
                 
             }
         }
     }
}
.white-popup-block {
    background-color: $white;
    max-width: rem-calc(785);
    margin: 40px auto;
    width: 100%;
    padding: rem-calc(50 60 50 65);
    position: relative;
    height: 600px;
    overflow: auto;
    @include bp(tabletmd) {
        max-width: rem-calc(640);
        padding: rem-calc(50 30 30 30);
    }
    @include bp(tabletsm) {
        max-width: rem-calc(600);
        padding: rem-calc(30 20 20 20);
        height: auto;
    }
    h3 {
        color: $dark-navy-blue;
        font-size: rem-calc(36);
        @include bp(tabletmd) {
            font-size: rem-calc(30);
        }
        @include bp(tabletsm) {
            font-size: rem-calc(28);
        }
    }
    p {
        margin-bottom: rem-calc(20);
        @include bp(tabletmd) {
            font-size: rem-calc(18);
        }
        @include bp(tabletsm) {
            font-size: rem-calc(16);
        }
    }
    .mfp-close {
        width: 31px;
        height: 31px;
        right: 33px;
        top: 22px;
        z-index: 2;
        opacity: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-size: cover;
        @include bp(tabletmd) {
            width: 20px;
            height: 20px;
        }
    }
    .mfp-close:active {
        top: 22px;
    }
}