.innovation-awards {
    position: relative;
    padding: rem-calc(75 0 150);
    @include bp(tabletXl) {
        padding: rem-calc(60 0 60);
    }
    @include bp(tabletsm) {
        padding: rem-calc(40 0 40);
        overflow-x: hidden;
    }
    .container {
        @include bp(tabletsm) {
            max-width: 100%;
        }
    }
    &:before {
        content: "";
        background-color: #f3f3f3;
        position: absolute;
        right: 0;
        top: 0;
        width: 44.8%;
        height: 100%;
        @include bp(tabletsm) {
            display: none;
        }
    }
    .awards-list-wrap {
        padding: rem-calc(0 0 0 15);
        @include bp(tabletsm) {
            padding: 0;
            margin: 0 auto 40px;
            max-width: 540px;
        }
        .awards-heading {
            margin: rem-calc(0 0 34 0);
            @include bp(tabletXl) {
                margin: rem-calc(0 0 0 0);
            }
            h2 {
                color: $dark-navy-blue;
            }
        }
        .awards-list {
            .accordion {
                .card {
                    border: 0;
                    margin-bottom: rem-calc(26.2);
                    .card-header {
                        color: $blue;
                        border: 1px solid $blue;
                        background-color: transparent;
                        padding: 0;
                        margin: 0;
                        border-radius: 10px;
                        
                        h2 {
                            font-size: 0;
                            position: relative;
                            .btn-link {
                                color: $white;
                                border: 1px solid $blue;
                                background-color: $blue;
                                padding: 0;
                                font-size: rem-calc(24);
                                border-radius: 10px;
                                display: block;
                                padding: rem-calc(15 30);
                                width: 100%;
                                letter-spacing: -0.2px;
                                text-align: left;
                                text-transform: inherit;
                                font-family: $zeitung;
                                @include bp(tabletmd) {
                                    font-size: rem-calc(22);
                                    padding: rem-calc(12 25);
                                }
                                @include bp(tabletsm) {
                                    font-size: rem-calc(18);
                                    padding: rem-calc(10 50 10 20);
                                }
                                &:before {
                                    content: "-";
                                    background-color: transparent;
                                    width: 37px;
                                    height: 37px;
                                    position: absolute;
                                    right: 20px;
                                    top: 50%;
                                    border-radius: 50%;
                                    transform: translateY(-50%);
                                    -webkit-transform: translateY(-50%);
                                    -ms-transform: translateY(-50%);
                                    color: $white;
                                    border: 1px solid $white;
                                    font-family: $proximanova;
                                    font-size: rem-calc(30);
                                    line-height: rem-calc(32);
                                    font-weight: $bold;
                                    text-align: center;
                                    @include bp(tabletsm) {
                                        width: rem-calc(25);
                                        height: rem-calc(25);
                                        line-height: rem-calc(20);
                                    }
                                }
                                &.collapsed {
                                    &.btn-link {
                                        background-color: transparent;
                                        color: $blue;
                                    }
                                    &:hover {
                                        color: $white;
                                        background-color: $blue;
                                        &:before {
                                            content: "+";
                                            background-color: transparent;
                                            width: 37px;
                                            height: 37px;
                                            position: absolute;
                                            right: 20px;
                                            top: 50%;
                                            border-radius: 50%;
                                            transform: translateY(-50%);
                                            -webkit-transform: translateY(-50%);
                                            -ms-transform: translateY(-50%);
                                            color: $white;
                                            border: 1px solid $white;
                                            font-family: $proximanova;
                                            font-size: rem-calc(30);
                                            line-height: rem-calc(36);
                                            font-weight: $bold;
                                            text-align: center;
                                            @include bp(tabletsm) {
                                                width: rem-calc(25);
                                                height: rem-calc(25);
                                                line-height: rem-calc(20);
                                            }
                                        }
                                        .btn-link {
                                            background-color: #0e92d1;
                                            color: $white;
                                        }
                                    }
                                    &:before {
                                        content: "+";
                                        background-color: transparent;
                                        width: 37px;
                                        height: 37px;
                                        position: absolute;
                                        right: 20px;
                                        top: 50%;
                                        border-radius: 50%;
                                        transform: translateY(-50%);
                                        -webkit-transform: translateY(-50%);
                                        -ms-transform: translateY(-50%);
                                        color: #0e93d2;
                                        border: 1px solid #0e93d2;
                                        font-family: $proximanova;
                                        font-size: rem-calc(30);
                                        line-height: normal; 
                                        font-weight: $bold;
                                        text-align: center;
                                        @include bp(tabletsm) {
                                            width: rem-calc(25);
                                            height: rem-calc(25);
                                            line-height: rem-calc(25);
                                            font-size: rem-calc(20);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .card-body {
                        border: 0;
                        padding: rem-calc(45 25 18);
                        @include bp(tabletXl) {
                            padding: rem-calc(20 20 0 20);
                        }
                        h6 {
                            color: $dark-navy-blue;
                            font-weight: $heavy;
                            font-size: rem-calc(23);
                            letter-spacing: -0.2px;
                            @include bp(tabletXl) {
                                font-size: rem-calc(20);
                                letter-spacing: 0;
                                margin-bottom: rem-calc(5);
                            }
                        }
                        p {
                            margin-bottom: rem-calc(27);
                            @include bp(tabletXl) {
                                margin-bottom: rem-calc(20);
                            }
                        }
                    }
                }
            }
        }
    }
    .patents-list-wrap {
        padding: rem-calc(0 40 0 55);
        @include bp(tabletXl) {
            padding: rem-calc(0 0 0 40);
        }
        @include bp(tabletsm) {
            padding: rem-calc(40 0);
            position: relative;
            z-index: 1;
            max-width: 540px;
            margin: 0 auto;
            &:before {
                content: "";
                background-color: #f3f3f3;
                position: absolute;
                left: -40%;
                top: 0;
                width: 1000px;
                height: 100%;
                z-index: -1;
            }
        }
        .patents-heading {
            padding: rem-calc(0 0 0 82);
            @include bp(tabletXl) {
                padding: rem-calc(0 0 0 20);
            }
            @include bp(tabletsm) {
                padding: rem-calc(0 0 0 0);
            }
            h2 {
                color: $dark-navy-blue;
            }
        }
        .patents-main {
            padding: rem-calc(35 0 0 82);
            @include bp(tabletXl) {
                padding: rem-calc(20 0 0 20);
            }
            @include bp(tabletsm) {
                padding: rem-calc(0 0 0 0);
            }
            .patents-list {
                padding: rem-calc(15.9 10 23.5 0);
                border-top: 1px solid $blue;
                @include bp(tabletXl) {
                    padding: rem-calc(10 0 20 0);
                }
                h3 {
                    color: $blue;
                    margin: rem-calc(0 0 4 0);
                    @include bp(tabletXl) {
                        font-size: rem-calc(21);
                    }
                    @include bp(tabletsm) {
                        font-size: rem-calc(18);
                    }
                } 
                p {
                    font-size: rem-calc(18);
                    font-weight: $normal;
                    letter-spacing: -0.2px;
                    @include bp(tabletXl) {
                        font-size: rem-calc(16);
                        letter-spacing: 0;
                    }
                }
            }
        }
        .patents-btn {
            text-align: center;
            margin: rem-calc(15 0 0 8);
            a {
                position: relative;
                padding: rem-calc(10 70);
                &:hover {
                    border-color: $blue;
                    background-color: transparent;
                    color: $blue;
                    &:before {
                        border-top-color: $blue;
                    }
                }
                &:focus {
                    border-color: transparent;
                    background-color: $blue;
                    color: $white;
                    &:before {
                        border-top-color: $white;
                    }
                }
                &:before {
                    content: "";
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-top: 11px solid #fff;
                    position: absolute;
                    right: 25px;
                    top: 53%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}
