.single-news {
    .hero-banner-block {
        .inner-banner-cont {
            h1 {
                color: $dark-navy-blue; 
            }
        }
    }
}

.news-single-sec {
    position: relative;
    padding: rem-calc(60 0);
    @include bp(tabletsm) {
        padding: rem-calc(40 0);
    }
    .news-date-cat {
        display: flex;
        flex-wrap: wrap;
        .single-date {
            margin: rem-calc(0 10 0 0); 
        }
        span {
            color: $dark-navy-blue; 
        }
    }
    .news-single-cont {
        .news-cont {
            blockquote {
                margin: rem-calc(42 0 32);
                padding: 0;
                border: 0;
                font-size: rem-calc(31);
                color: $blue;
                font-weight: $medium;
                line-height: 1.46;
                text-align: center;
                @include bp(tabletXl) {
                    font-size: rem-calc(24);
                    line-height: 1.4;
                }
                @include bp(tabletsm) {
                    font-size: rem-calc(20);
                }
                p {
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font-size: rem-calc(31);
                    color: $blue;
                    font-weight: $medium;
                    line-height: 1.46;
                    text-align: center;
                    @include bp(tabletXl) {
                        font-size: rem-calc(24);
                        line-height: 1.4;
                    }
                    @include bp(tabletsm) {
                        font-size: rem-calc(20);
                    } 
                }
            }
            ul {
                padding: rem-calc(0 0 20 20);
                li {
                    color: $gray;
                    font-size: rem-calc(20);
                    margin: rem-calc(0 0 5 0);
                    @include bp(tabletXl) {
                        font-size: rem-calc(18);
                    }
                    @include bp(tabletsm) {
                        font-size: rem-calc(16);
                    }
                    a {
                        color: #1362a2;
                    } 
                }
            }
        }
    }
}