.two-col-box-sec {
	position: relative;
	margin: -261px 0 0 0;
	padding: rem-calc(0 0 89 0);
	z-index: 1;
	@include bp(lg) {
		margin: -232px 0 0 0;
		padding: rem-calc(0 0 60 0);
	}
	@include bp(tabletXl) {
		margin: -240px 0 0 0;
	}
	@include bp(tabletmd) {
		margin: -220px 0 0 0;
	}
	@include bp(tabletsm) {
		margin: 0 0 0 0;
		padding: rem-calc(20 0 40 0);
	}

	.container {
		max-width: rem-calc(1160);
	}

	.two-col-box-wrap {
		@include bp(tabletmd) {
			margin: rem-calc(20 0 10 0);
		}

		a {
			display: block;

			&:hover {
				span {
					right: 37px;
				}

				.two-col-box-main {
					.two-col-box-cont {
						h2 {
							&:before {
								width: 100%;
								opacity: 1;
							}
						}
					}
				}
			}

			span {
				background-image: url(../images/right-pattern.svg);
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				position: absolute;
				right: 47px;
				top: 38px;
				width: 26px;
				height: 26px;
				@include transition(0.5s, all, ease-in-out);
				@include bp(tabletmd) {
					top: 43px;
					width: 20px;
					height: 20px;
				}
			}

			.two-col-box-main {
				.two-col-box-cont {
					padding: rem-calc(30 170 30 40);
					min-height: rem-calc(261);
					height: 100%;
					@include bp(lg) {
						padding: rem-calc(30 80 30 40);
						min-height: rem-calc(200);
					}
					@include bp(tabletXl) {
						min-height: rem-calc(240);
					}
					@include bp(tabletmd) {
						padding: rem-calc(20);
						min-height: rem-calc(200);
					}
					@include bp(tabletsm) {
						padding: rem-calc(15);
					}
					@include bp(sm) {
						padding: rem-calc(15);
						min-height: inherit;
					}

					h2 {
						font-size: rem-calc(35);
						font-weight: $bold;
						color: $white;
						font-family: $zeitung;
						margin-bottom: rem-calc(16);
						display: inline-block;
						vertical-align: top;
						position: relative;

						&:before {
							content: "";
							background-color: $white;
							width: 0;
							height: rem-calc(1);
							position: absolute;
							left: 0;
							bottom: -5px;
							opacity: 0;
							@include transition(0.5s, all, ease-in-out);
						}

						@include bp(tabletXl) {
							font-size: rem-calc(30);
						}
						@include bp(tabletsm) {
							font-size: rem-calc(24);
						}
					}

					p {
						font-size: rem-calc(22);
						font-weight: $normal;
						color: $white;
						@include bp(tabletXl) {
							font-size: rem-calc(18);
							line-height: 1.45;
						}
						@include bp(tabletsm) {
							font-size: rem-calc(16);
						}
					}
				}

				.two-col-box-logo {
					padding: rem-calc(40 35 40);
					border: 1px solid #A2A9AD;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					min-height: rem-calc(113);
					@include bp(tabletmd) {
						padding: rem-calc(20 15 20);
					}

					ul {
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						justify-content: center;

						li {
							width: 33.33%;
							list-style-type: none;
							text-align: center;
							padding: 0 13px;
							@include bp(tabletsm) {
								padding: rem-calc(0 5);
							}

							img {
								filter: grayscale(100%);
								max-height: 130px;
								height: auto;
							}
						}
					}
				}
			}
		}
	}
}
