.accordion-block {
    position: relative;
    padding: rem-calc(80 0 100);
    @include bp(tabletmd) {
        padding: rem-calc(60 0 60);
    }
    @include bp(tabletsm) {
        padding: rem-calc(40 0 40);
    }
    &.products-accordion-block {
        padding: rem-calc(110 0);
        @include bp(tabletmd) {
            padding: rem-calc(60 0 60);
        }
        @include bp(tabletsm) {
            padding: rem-calc(40 0 40);
        }
        .heading {
            margin: 0 auto;
            h2 {
                margin-bottom: rem-calc(35);
            }
        }
    }
    &.white-paper-accordion-block {
        padding: rem-calc(110 0);
        .heading {
            h3 {
                font-size: rem-calc(25);
                color: $blue;
                font-weight: $mediumdark;
                font-family: $Lato;
                line-height: 1.4;
                letter-spacing: -0.15px;
                margin-bottom: rem-calc(27);
                @include bp(tabletXl) {
                    font-size: rem-calc(22);
                }
            }
            h5 {
                color: $gray;
                font-weight: $bold;
                font-family: $Lato;
                font-size: rem-calc(20);
                text-transform: uppercase;
                letter-spacing: -0.7px;
                @include bp(tabletXl) {
                    font-size: rem-calc(18);
                }
            }
            ul {
                padding: rem-calc(12 0 0 47);
                li {
                    color: $gray;
                    font-size: rem-calc(20);
                    font-weight: $normal;
                    font-family: $Lato;
                    margin: rem-calc(0 0 13 0);
                    @include bp(tabletXl) {
                        font-size: rem-calc(18);
                    }
                }
            }
        }
        .accordion-list {
            .accordion-block-wrap {
                max-width: 1080px;
                margin: 0 auto;
                width: 100%;
                .accordion {
                    .card {
                        border: 0;
                        margin-bottom: rem-calc(20);
                        .card-header {
                            color: $gray;
                            border: 1px solid $gray;
                            background-color: transparent;
                            padding: 0;
                            margin: 0;
                            border-radius: 10px;
                            h2 {
                                font-size: 0;
                                position: relative;
                                .btn-link {
                                    padding: 0;
                                    font-size: rem-calc(20);
                                    border: 0;
                                    border-radius: 10px;
                                    background-color: transparent;
                                    display: block;
                                    padding: rem-calc(21 60 21 19);
                                    width: 100%;
                                    letter-spacing: -0.2px;
                                    text-align: left;
                                    text-transform: inherit;
                                    font-family: $Lato;
                                    font-weight: $normal;
                                    color: $gray;
                                    @include bp(tabletXl) {
                                        font-size: rem-calc(18);
                                        padding: rem-calc(12 60 12 15);
                                    }
                                    @include bp(tabletsm) {
                                        font-size: rem-calc(16);
                                    }
                                    &:before {
                                        content: "-";
                                        background-color: transparent;
                                        width: 37px;
                                        height: 37px;
                                        position: absolute;
                                        right: 20px;
                                        top: 50%;
                                        border-radius: 50%;
                                        transform: translateY(-50%);
                                        -webkit-transform: translateY(-50%);
                                        -ms-transform: translateY(-50%);
                                        color: $gray;
                                        border: 1px solid $gray;
                                        font-family: $proximanova;
                                        font-size: rem-calc(30);
                                        font-weight: $normal;
                                        text-align: center;
                                    }
                                    &.collapsed {
                                        background-color: transparent;
                                        color: $gray;
                                        &:before {
                                            content: "+";
                                            background-color: transparent;
                                            width: 37px;
                                            height: 37px;
                                            position: absolute;
                                            right: 20px;
                                            top: 50%;
                                            border-radius: 50%;
                                            transform: translateY(-50%);
                                            -webkit-transform: translateY(-50%);
                                            -ms-transform: translateY(-50%);
                                            color: $gray;
                                            border: 1px solid $gray;
                                            font-family: $proximanova;
                                            font-size: rem-calc(30);
                                            font-weight: $normal;
                                            text-align: center;
                                            line-height: 40px;
                                            @include bp(tabletXl) {
                                                width: 25px;
                                                height: 25px;
                                                line-height: normal;
                                                font-size: rem-calc(20);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .card-body {
                            border: 0;
                            padding: rem-calc(29 70 15 36);
                            p {
                                margin-bottom: rem-calc(6);
                            }
                            ul {
                                padding: rem-calc(10 0 20 20);
                                li {
                                    color: $gray;
                                    font-size: rem-calc(20);
                                    margin: rem-calc(0 0 5 0);
                                    @include bp(tabletXl) {
                                        font-size: rem-calc(18);
                                    }
                                    @include bp(tabletsm) {
                                        font-size: rem-calc(16);
                                    }
                                    a {
                                        color: #00ACEE;
                                    } 
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .heading {
        max-width: rem-calc(1080);
        margin: 0 auto 65px;
        width: 100%;
        padding: rem-calc(0 10 0 0);
        @include bp(tabletmd) {
            margin-bottom: rem-calc(30);
        }
        h2 {
            color: $dark-navy-blue;
            text-align: center;
            margin: rem-calc(0 0 42 0);
            @include bp(lg) {
                margin: rem-calc(0 0 25 0);
            }
        }
        p {
            margin: rem-calc(0 0 5 0);
        }
        ul {
            padding: rem-calc(0 0 20 20);
            li {
                color: $gray;
                font-size: rem-calc(20);
                margin: rem-calc(0 0 5 0);
                @include bp(tabletXl) {
                    font-size: rem-calc(18);
                }
                @include bp(tabletsm) {
                    font-size: rem-calc(16);
                }
                a {
                    color: #1362a2;
                } 
            }
        }
    }
    .accordion-block-wrap {
        max-width: 1080px;
        margin: 0 auto;
        width: 100%;
        .accordion {
            .card {
                border: 0;
                margin-bottom: rem-calc(26.5);
                background-color: transparent;
                .card-header {
                    background-color: transparent;
                    border: 0;
                    padding: 0;
                    margin: 0;
                    border-radius: 10px;
                    h2 {
                        font-size: 0;
                        position: relative;
                        @include transition(0.5s, all, ease-in-out);
                        .btn-link {
                            color: $white;
                            border: 1px solid $blue;
                            background-color: $blue;
                            padding: 0;
                            font-size: rem-calc(24);
                            border-radius: 10px;
                            display: block;
                            padding: rem-calc(15 60 15 30);
                            width: 100%;
                            letter-spacing: -0.2px;
                            text-align: left;
                            text-transform: inherit;
                            font-family: $zeitung;
                            @include bp(tabletmd) {
                                font-size: rem-calc(22);
                                padding: rem-calc(12 25);
                            }
                            @include bp(tabletsm) {
                                font-size: rem-calc(18);
                                padding: rem-calc(10 50 10 20);
                            }
                            &:before {
                                content: "-";
                                background-color: transparent;
                                width: 37px;
                                height: 37px;
                                position: absolute;
                                right: 20px;
                                top: 50%;
                                border-radius: 50%;
                                transform: translateY(-50%);
                                -webkit-transform: translateY(-50%);
                                -ms-transform: translateY(-50%);
                                color: $white;
                                border: 1px solid $white;
                                font-family: $proximanova;
                                font-size: rem-calc(30);
                                line-height: normal;
                                font-weight: $bold;
                                text-align: center;
                                @include bp(tabletsm) {
                                    width: rem-calc(25);
                                    height: rem-calc(25);
                                    line-height: rem-calc(20);
                                }
                            }
                            &.collapsed {
                                &.btn-link {
                                    background-color: transparent;
                                    color: $blue;
                                }
                                &:hover {
                                    color: $white;
                                    background-color: $blue;
                                }
                                &:before {
                                    content: "+";
                                    background-color: transparent;
                                    width: 37px;
                                    height: 37px;
                                    position: absolute;
                                    right: 20px;
                                    top: 50%;
                                    border-radius: 50%;
                                    transform: translateY(-50%);
                                    -webkit-transform: translateY(-50%);
                                    -ms-transform: translateY(-50%);
                                    color: #0e93d2;
                                    border: 1px solid #0e93d2;
                                    font-family: $proximanova;
                                    font-size: rem-calc(30);
                                    line-height: normal; 
                                    font-weight: $bold;
                                    text-align: center;
                                    @include bp(tabletsm) {
                                        width: rem-calc(25);
                                        height: rem-calc(25);
                                        line-height: rem-calc(25);
                                        font-size: rem-calc(20);
                                    }
                                }
                            }
                            &:hover {
                                color: $white;
                                background-color: $blue;
                                &:before {
                                    content: "-";
                                    background-color: transparent;
                                    width: 37px;
                                    height: 37px;
                                    position: absolute;
                                    right: 20px;
                                    top: 50%;
                                    border-radius: 50%;
                                    transform: translateY(-50%);
                                    -webkit-transform: translateY(-50%);
                                    -ms-transform: translateY(-50%);
                                    color: $white;
                                    border: 1px solid $white;
                                    font-family: $proximanova;
                                    font-size: rem-calc(30);
                                    font-weight: $bold;
                                    text-align: center;
                                    @include bp(tabletsm) {
                                        width: rem-calc(25);
                                        height: rem-calc(25);
                                        line-height: rem-calc(20);
                                    }
                                }
                                .btn-link {
                                    background-color: #0e92d1;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
                .card-body {
                    border: 0;
                    padding: rem-calc(29 70 6 36);
                    @include bp(tabletmd) {
                        padding: rem-calc(20 20 5 20 );
                    }
                    p {
                        margin-bottom: rem-calc(6);
                    }
                    ul {
                        padding: rem-calc(10 0 20 20);
                        li {
                            color: $gray;
                            font-size: rem-calc(20);
                            margin: rem-calc(0 0 5 0);
                            @include bp(tabletXl) {
                                font-size: rem-calc(18);
                            }
                            @include bp(tabletsm) {
                                font-size: rem-calc(16);
                            }
                            a {
                                color: #1362a2;
                            } 
                        }
                    }
                }
            }
        }
    }
}