.announcement-bar {
    margin-top: -60px;
    position: relative;
    z-index: 1;
}

.announcement-bar .container {
    background: #004877;
    max-width: 1440px;
}

.announcement-bar .container .content {
    max-width: 1200px;
    padding: 40px;
    margin: 0 auto;
    text-align: center;
}

.announcement-bar .container .content p {
    color:  #fff;
    margin: 0;
}

@media screen and (max-width: 1440px){
    .announcement-bar .container {max-width: unset;}
    .announcement-bar .container .content {max-width: 1440px;}
}

@media screen and (max-width: 575px){
    .announcement-bar .container .content {padding: 30px 20px;}
}
