.fifty-fifty-block {
    position: relative;
    padding: rem-calc(70 0 97);
    @include bp(tabletXl) {
        padding: rem-calc(60 0 60);
    }
    @include bp(tabletsm) {
        padding: rem-calc(40 0 40);
    }
    .heading {
        padding: rem-calc(0 0 0 40);
        @include bp(xlthr) {
            padding: rem-calc(0);
        }
        h2 {
            color: $dark-navy-blue;
        }
        p {
            color: $gray;
        }
    }
    .fifty-fifty-block-cont {
        padding: rem-calc(26 0 0 40);
        @include bp(xlthr) {
            padding: rem-calc(0);
        }
        h3 {
            color: $dark-navy-blue;
            font-size: rem-calc(36);
            line-height: 1.2;
            margin-bottom: rem-calc(24);
            @include bp(lg) {
                font-size: rem-calc(30);
            }
            @include bp(tabletmd) {
                font-size: rem-calc(28);
            }
            @include bp(tabletsm) {
                font-size: rem-calc(25);
            }
        }
        p {
            color: $gray;
        }
        h5 {
            a {
                position: relative;
                &:hover {
                    i {
                        background-image: url(../images/Parasoft_arrow_blue.svg);
                    }
                }
                i {
                    background-image: url(../images/Parasoft_arrow_light_blue.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    right: -20px;
                    top: 60%;
                    transform: translateY(-50%);
                }
            }
        }
        ul {
            margin: rem-calc(35 0 0 20);
            @include bp(tabletmd) {
                margin: rem-calc(0 0 0 20);
            }
            li {
                margin-bottom: rem-calc(11);
                color: $gray;
                font-size: rem-calc(20);
                margin: rem-calc(0 0 5 0);
                @include bp(tabletXl) {
                    font-size: rem-calc(18);
                }
                @include bp(tabletsm) {
                    font-size: rem-calc(16);
                }
                a {
                    font-size: rem-calc(23);
                    font-weight: $bold;
                    color: $blue;
                    font-family: $zeitung;
                    letter-spacing: -0.2px;
                    @include bp(tabletXl) {
                        font-size: rem-calc(20);
                    }
                    @include bp(tabletsm) {
                        font-size: rem-calc(16);
                    }
                    &:hover {
                        color: $light-navy-blue;
                        i {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    i {
                        font-family: $Poppins;
                        font-size: rem-calc(23);
                        line-height: 1.2;
                        color: $light-navy-blue;
                        font-style: normal;
                        opacity: 0;
                        visibility: hidden;
                        @include transition(0.5s, all, ease-in-out);
                        @include bp(tabletXl) {
                            font-size: rem-calc(20);
                        }
                        @include bp(tabletsm) {
                            font-size: rem-calc(16);
                        }
                    }
                }
            }
        }
    }
    .fifty-fifty-block-bg {
        padding: rem-calc(0 20);
        margin: rem-calc(0 0 0 20);
        position: relative;
        @include bp(lg) {
            margin: rem-calc(0);
            padding: rem-calc(0);
        }
        @include bp(tabletsm) {
            margin: rem-calc(30 0 0 0);
            padding: rem-calc(0);
        }
        a {
            &.fifty-fifty-bg-popup {
                position: absolute;
                top: 43%;
                right: rem-calc(35);
                width: rem-calc(57);
                height: rem-calc(57);
                background-color: rgba(137, 210, 47, 0.9);
                border-radius: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                text-align: center;
                @include bp(tabletmd) {
                    right: rem-calc(0);
                }
                @include bp(tabletsm) {
                    width: rem-calc(45);
                    height: rem-calc(45);
                    right: rem-calc(10);
                }
                &:before {
                    content: "+";
                    font-size: rem-calc(39);
                    font-weight: $light;
                    font-family: $zeitung;
                    color: $white;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    margin: -5px 0 0 0;
                    @include bp(tabletsm) {
                        font-size: rem-calc(30);
                    }
                }
            }
        }
    }
}