.footer-contact-sec {
    padding: rem-calc(150 0);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @include bp(tabletXl) { 
        padding: rem-calc(100 0);
    }
    @include bp(tabletsm) { 
        padding: rem-calc(50 0);
    }
    &:before {
        content: "";
        background-color: rgba(21,39,55,0.6);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .footer-contact-sharp {
        &:before {
            content: "";
            width: 0;
            height: 0;
            border-top: 235px solid $parrot-green;
            border-right: 135px solid transparent;
            position: absolute;
            top: 0;
            left: 0;
           
        }
        &:after {
            content: "";
            width: 0;
            height: 0;
            border-bottom: 190px solid $blue;
            border-left: 110px solid transparent;
            position: absolute;
            bottom: 0;
            right: 0;
            
        }
    }
    .footer-contact-cont {
        text-align: center;
        h3 {
            font-size: rem-calc(48);
            line-height: 1.2;
            font-family: $zeitung;
            color: $white;
            font-weight: $bold;
            margin-bottom: rem-calc(15);
            @include bp(tabletmd) { 
                font-size: rem-calc(38);
            }
        }
        p {
            font-size: rem-calc(25);
            font-weight: $bold;
            color: $white;
            @include bp(tabletmd) { 
                font-size: rem-calc(20);
            }
            @include bp(tabletsm) { 
                font-size: rem-calc(18);
            }
        }
        a {
            background-color: $dark-red;
            display: inline-block;
            vertical-align: middle;
            padding: rem-calc(16 25);
            font-size: rem-calc(19);
            line-height: 1.2;
            font-family: $zeitung;
            color: $white;
            font-weight: $bold;
            border-radius: 50px;
            text-transform: uppercase;
            @include bp(tabletmd) { 
                font-size: rem-calc(16);
                padding: rem-calc(12 25);
            }
            &:hover {
                background-color: $dark-navy-blue;
            }
        }
    }
}