.full-width-image-block {
    position: relative;
    .full-width-image-block-bg {
        padding-bottom: 37.8%;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        @include bp(xlthr) {
            background-attachment: scroll;
            background-position: center center!important;
        }
        @include bp(tabletmd) {
            padding-bottom: 45%;
        }
    }
}