.global-offices-map-sec {
    position: relative;
    padding: rem-calc(115 0 180);
    border-bottom: 1px solid #7d858c;
    @include bp(tabletXl) {
        padding: rem-calc(60 0 60);
    }
    @include bp(tabletsm) {
        padding: rem-calc(40 0 40);
    }
    .heading {
        max-width: rem-calc(990);
        margin: 0 auto 40px;
        width: 100%;
        text-align: center;
        h2 {
            color: $dark-navy-blue;
            margin-bottom: rem-calc(10);
        }
    }
    &.contact-map-block {
        padding: rem-calc(115 0 150);
        border: 0;
        @include bp(tabletXl) {
            padding: rem-calc(60 0 60);
        }
        @include bp(tabletsm) {
            padding: rem-calc(40 0 40);
        }
        .block-views-blockpartners-block-3 {
            padding: rem-calc(15 0 0 92);
            @include bp(xlthr) {
                padding: rem-calc(15 0 0 0);
            }
            .view-offices-map {
                .view-header {
                    margin: rem-calc(0 0 20 0);
                    ul {
                        li {
                            a {
                                 font-size: 14px;
                            }
                        }
                    }
                }
                .view-content {
                    ul {
                        li {
                            margin: rem-calc(0 0 13 0)!important;
                            ul {
                                &.marker-links-filter-by-country {
                                    padding-left: 25px;
                                    li {
                                        margin: rem-calc(0 0 7 0)!important;
                                    }
                                }
                            }
                            a {
                                display: inline-block;
                                vertical-align: middle;
                                img {
                                    margin: -5px 0 0 0;
                                }
                                span {
                                    font-size: rem-calc(24);
                                    font-weight: $bold;
                                    @include bp(tabletsm) {
                                        font-size: rem-calc(18);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .global-offices-map {
        ul {
            padding: rem-calc(49 0 0 94);
            @include bp(xlthr) {
                padding: rem-calc(15 0 0 0);
            }
            @include bp(tabletsm) {
                padding: rem-calc(0 0 30 0);
            }
            &.marker-links {
                li {
                    margin: rem-calc(0 0 0 0);
                    .marker-link-wrapper {
                        a {
                            margin: rem-calc(0);
                            position: relative;
                            right: 0;
                            span {
                                font-size: rem-calc(24);
                                font-weight: $bold;
                                color: $blue;
                                @include bp(lg) {
                                    font-size: rem-calc(20);
                                }
                            }
                        }
                    }
                }
            } 
        }
        a {
            position: absolute;
            bottom: 0;
            right: 44px;
            color: $parrot-green;
            display: inline-block;
            vertical-align: top;
            font-weight: $bold;
            @include bp(lg) {
                font-size: rem-calc(18);
            }
            @include bp(tabletmd) {
                position: relative;
                right: 0;
                margin-bottom: rem-calc(30);
            }
        }
        .map-parasoft-locations {
            @include bp(tabletsm) {
                height: rem-calc(300);
            }
            h4 {
                &.infowindow-title {
                    font-size: rem-calc(20);
                    color: $gray;
                }
            }
            .gm-style-iw {
                &.gm-style-iw-c {
                    padding: 1.25rem 1.25rem 2.5rem !important;
                    border-radius: 4px !important;
                    border-bottom-right-radius: 0 !important;
                    border-bottom-left-radius: 0 !important;
                    max-height: none !important;
                    min-width: 250px !important;
                    .gm-style-iw-d {
                        overflow: visible !important;
                        max-height: none !important;
                        max-width: none !important;
                        .infowindow-content {
                            p {
                                font-size: rem-calc(13);
                                color: $gray;
                                margin-bottom: 5px;
                                font-weight: 300;
                                padding: 0 0 0 10px;
                                strong {
                                    color: #162737;
                                    font-weight: 600;
                                    font-size: .875rem;
                                    text-transform: uppercase;
                                }
                                a {
                                    font-size: rem-calc(13);
                                    position: relative;
                                    right: inherit;
                                    bottom: inherit;
                                    color: $gray;
                                    font-weight: 300;
                                }
                            }
                            .infowindow-link {
                                margin: 0 -1.25rem -2.5rem;
                                padding: .625rem .9375rem;
                                background-color: #162737;
                                min-width: 160px;
                                position: relative;
                                a {
                                    color: #8bd42f;
                                    font-weight: bold;
                                    position: inherit;
                                    right: 0;
                                    border: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .mapplic-list-container {
            ol {
                border-color: #eee;
                list-style: none;
                padding: 5px 0 0 78px;
                margin: 0;
                li {
                    margin: 0 0 12px 0 !important;
                    &.mapplic-active {
                        
                    }
                    a {
                        background-color: transparent;
                        padding: 0;
                        border: 0;
                        h4 {
                            color: $blue;
                            font-size: rem-calc(26);
                        }
                    }
                }
            }
        }
    }
}