.press-mentions-block {
    position: relative;
    padding: rem-calc(90 0 118);
    @include bp(tabletXl) {
        padding: rem-calc(60 0 60);
    }
    @include bp(tabletsm) {
        padding: rem-calc(40 0 40);
    }
    .heading {
        margin: rem-calc(0 0 48 0);
        h2 {
            color: $light-navy-blue;
        }
    }
    .press-mentions-list {
        margin: rem-calc(0 0 30 0);
        .press-mentions-wrap {
            border: 1px solid #a2a9ad;
            position: relative;
            height: 100%;
            a {
                padding: rem-calc(23 40 70 40);
                display: inline-block;
                vertical-align: top;
                width: 100%;
                height: 100%;
                @include bp(xl) {
                    padding: rem-calc(20 20 60 20);
                }
                &:hover {
                    .press-mentions-cont {
                        /*.date {
                            span {
                                color: $parrot-green;
                            }    
                        }
                        h3 {
                            color: $parrot-green;
                        }*/
                        p {
                            color: $parrot-green;
                        }
                    }
                    .press-mentions-btn { 
                        span {
                            background-color: $parrot-green;
                        }
                    }
                }
                .press-mentions-logo {
                    text-align: center;
                }
                .press-mentions-cont {
                    .date {
                        margin: -3px 0 24px 0;
                        span {
                            color: #7b868c;
                            font-size: rem-calc(18);
                            font-weight: $bold;
                            font-family: $Lato;
                            padding-bottom: 11px;
                            border-bottom: 1px solid #d9e6ee;
                        }
                    }
                    h3 {
                        color: #7b868c;
                        font-size: rem-calc(30);
                        font-weight: $bold;
                        font-family: $Lato;
                        margin: rem-calc(0 0 15 0);
                    }
                    p {
                        color: $dark-navy-blue;
                        font-size: rem-calc(23);
                        font-weight: $bold;
                        line-height: 1.3;
                    }
                }
                .press-mentions-btn {
                    position: absolute;
                    right: 23px;
                    bottom: 35px;
                    @include bp(xl) {
                        bottom: 15px;
                    }
                    span {
                        font-size: rem-calc(16);
                        font-weight: $bold;
                        font-family: $zeitung;
                        display: inline-block;
                        vertical-align: middle;
                        padding: rem-calc(8 24);
                        border-radius: rem-calc(50);
                        background-color: $dark-navy-blue;
                        text-transform: uppercase;
                        color: $white;
                        i {
                            font-size: rem-calc(16);
                            font-weight: $normal;
                            font-family: $Poppins;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .press-mentions-btn {
        text-align: center;
        margin: rem-calc(58 0 0 0);
        @include bp(tabletXl) {
            margin: rem-calc(20 0 0 0);
        }
        a {
            border: 1px solid #7b868c;
            padding: 10px 43px;
            background-color: transparent;
            color: $light-silver;
            &:hover {
                background-color: #7b868c;
                color: $white;
            }
        }
    }
}