.product-description-block {
    position: relative;
    padding: rem-calc(0 0 60);
    @include bp(tabletXl) {
        padding: rem-calc(0 0 60);
    }
    @include bp(tabletsm) {
        padding: rem-calc(0 0 40);
    }
    .product-description-cont {
        padding: rem-calc(150 10 0 39);
        @include bp(tabletXl) {
            padding: rem-calc(100 10 0 0);
        }
        @include bp(tabletmd) {
            padding: rem-calc(60 10 0 0);
        }
        @include bp(tabletsm) {
            padding: rem-calc(40 0 0 0);
        }
        h2 {
            color: $dark-navy-blue;
        }
        ul {
            padding: rem-calc(0 0 20 20);
            li {
                color: $gray;
                font-size: rem-calc(20);
                margin-bottom: rem-calc(0 0 5 0);
                @include bp(tabletXl) {
                    font-size: rem-calc(18);
                }
                @include bp(tabletsm) {
                    font-size: rem-calc(16);
                }
                a {
                    color: #1362a2;
                } 
            }
        }
        .video-btn {
            margin: rem-calc(32 0 0 0);
            a {
                &.wista-video {
                    position: relative;
                    padding: rem-calc(10 40);
                    &:hover {
                        &:before {
                            border-left-color: $dark-red;
                        }
                    }
                    &:focus {
                        &:before {
                            border-left-color: $dark-red;
                        }
                    }
                    &:before {
                        content: "";
                        border-left: 11px solid $white;
                        border-right: 7px solid transparent;
                        border-bottom: 7px solid transparent;
                        border-top: 7px solid transparent;
                        position: absolute;
                        right: 13px;
                        top: 54%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
    .product-description-wrap {
        .product-description-img {
            margin: rem-calc(-76 30 0 30);
            position: relative;
            @include bp(tabletXl) {
                margin: rem-calc(-30 0 0 0);
            }
            @include bp(tabletsm) {
                margin: rem-calc(30 0 0 0);
            }
            a {
                &.product-description-click {
                    position: absolute;
                    top: 43%;
                    right: rem-calc(23);
                    width: rem-calc(57);
                    height: rem-calc(57);
                    background-color: rgba(137, 210, 47, 0.9);
                    border-radius: 50%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    text-align: center;
                    @include bp(tabletmd) {
                        right: rem-calc(0);
                    }
                    @include bp(tabletsm) {
                        width: rem-calc(45);
                        height: rem-calc(45);
                        right: rem-calc(10);
                    }
                    &:before {
                        content: "+";
                        font-size: rem-calc(39);
                        font-weight: $light;
                        font-family: $zeitung;
                        color: $white;
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        margin: -5px 0 0 0;
                        @include bp(tabletsm) {
                            font-size: rem-calc(30);
                        }
                    }
                }
            }
        }
        .product-description-list {
            padding: rem-calc(24 0 0 80);
            &.no-above-image {
                padding: rem-calc(160 0 0 80);
                @include bp(lg) {
                    padding: rem-calc(100 0 0 40);
                }
                @include bp(tabletmd) {
                    padding: rem-calc(60 0 0 0);
                }
            }
            @include bp(lg) {
                padding: rem-calc(20 0 0 40);
            }
            @include bp(tabletmd) {
                padding: rem-calc(20 0 0 0);
            }
            ul {
                li {
                    margin-bottom: rem-calc(8);
                    @include bp(tabletsm) {
                        margin: rem-calc(0 0 2 0);
                    }
                    a {
                        font-size: rem-calc(23);
                        font-weight: $bold;
                        font-family: $zeitung;
                        position: relative;
                        @include bp(lg) {
                            font-size: rem-calc(20);
                        }
                        @include bp(tabletXl) {
                            font-size: rem-calc(18);
                        }
                        @include bp(tabletsm) {
                            font-size: rem-calc(16);
                        }
                        &:hover {
                            color: $dark-navy-blue;
                            i {
                                opacity: 1;
                                color: $dark-navy-blue;
                            }
                            em {
                                background-image: url(../images/Parasoft_arrow_blue.svg);
                            }
                        }
                        i {
                            opacity: 0;
                            font-style: normal;
                            margin: 0 0 0 -2px;
                            font-size: 23px;
                            font-weight: normal;
                            font-family: $Poppins;
                        }
                        em {
                            background-image: url(../images/Parasoft_arrow_light_blue.svg);
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center center;
                            width: 10px;
                            height: 10px;
                            position: absolute;
                            right: -20px;
                            top: 60%;
                            transform: translateY(-50%);
                            font-style: normal;
                        }
                    }
                }
            }
        }
    }
}