.products-block-sec {
    position: relative;
    padding: rem-calc(105 0 123);
    overflow: hidden;
    @include bp(tabletXl) {
        padding: rem-calc(60 0 60);
    }
    @include bp(tabletsm) {
        padding: rem-calc(40 0 40);
    }
    .products-block-top-shape {
        &:before {
            content: "";
            width: 300px;
            height: 300px;
            position: absolute;
            top: 0;
            left: 0;
            clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
            background-color: inherit;
            transform: rotate(90deg);
            @include bp(tabletmd) {
                width: rem-calc(180);
                height: rem-calc(180);
                z-index: 1;
            }
        }
        &:after {
            content: "";
            background-image: url(../images/products-block-top-shape.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            left: 0;
            top: 0px;
            max-width: 1113px;
            height: 1000px;
            width: 100%;
            @include bp(tabletmd) {
                height: 100%;
            }
        }
    }
    .products-block-bottom-shape {
        &:before {
            content: "";
            width: 260px;
            height: 260px;
            position: absolute;
            bottom: 0;
            right: 0;
            clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
            background-color: inherit;
            transform: rotate(-90deg);
            @include bp(tabletmd) {
                width: rem-calc(100);
                height: rem-calc(100);
            }
        }
        &:after {
            content: "";
            background-image: url(../images/products-block-bottom-shape.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            right: 0px;
            bottom: 0px;
            width: 395px;
            height: 409px;
            @include bp(tabletmd) {
                height: rem-calc(80);
            }
        }
    }
    .heading {
        text-align: center;
        margin-bottom: rem-calc(68);
        h2 {
            color: $white;
        }
        @include bp(tabletmd) {
            margin-bottom: rem-calc(40);
            z-index: 1;
            position: relative;
        }
    }
    .products-block-list {
        padding-bottom: rem-calc(30);
        @include bp(tabletsm) {
            z-index: 1;
        }
        a {
            border: 1px solid $white;
            display: inline-block;
            vertical-align: top;
            height: 100%;
            position: relative;
            &:hover {
                background-color: $white;
                .products-block-logo {
                    svg {
                        .st0 {
                            fill: $blue;
                            &.selenic-st0 {
                                stroke: $blue;
                            }
                        }
                        .st1 {
                            fill: $blue;
                        }
                        .st2 {
                            stroke: $blue;
                        }
                        .cls-1 {
                            fill: $blue;
                        }
                    }
                }
                .products-block-wrap {
                    h3 {
                        color: $blue;
                    }
                    p {
                        color: $gray;
                    }
                    .products-block-btn {
                        opacity: 1;
                        visibility: visible;
                    }
                    .products-block-logo {
                        svg {
                            .st0 {
                                fill: $blue;
                                &.selenic-st0 {
                                    stroke: $blue;
                                }
                            }
                        }
                    }
                }
            }
            .products-block-wrap {
                padding: rem-calc(25 60 78 34);
                @include bp(lg) {
                    padding: rem-calc(25 25 60 25);
                }
                @include bp(tabletmd) {
                    padding: rem-calc(20 20 50 20);
                }
                .products-block-logo {
                    margin: rem-calc(0 0 14 0);
                    min-height: rem-calc(60);
                    svg {
                        max-width: rem-calc(60);
                        width: 100%;
                        .st0 {
                            stroke-width: 0;
                            fill: $white;
                            &.selenic-st0 {
                                fill: none;
                                stroke: #FFFFFF;
                                stroke-width: 4.606;
                                stroke-miterlimit: 10;
                            }
                        }
                    }
                }
                h3 {
                    margin-bottom: rem-calc(12);
                    color: $white;
                }
                p {
                    color: $white;
                    font-size: rem-calc(18);
                    line-height: rem-calc(28);
                    @include bp(tabletsm) {
                        font-size: rem-calc(16);
                    }
                }
                .products-block-btn {
                    position: absolute;
                    bottom: 26px;
                    right: 20px;
                    opacity: 0;
                    visibility: hidden;
                    @include bp(tabletmd) {
                        bottom: rem-calc(20);
                    }
                    span {
                        padding: 8px 21px;
                        background-color: #89d22f;
                        border-radius: 50px;
                        text-transform: uppercase;
                        font-size: 16px;
                        font-weight: 700;
                        display: inline-block;
                        vertical-align: middle;
                        color: $white;
                        @include bp(tabletsm) {
                            font-size: rem-calc(14);
                        }
                    }
                }
            }
        }
    }
}
