.statistics-block-sec {
    position: relative;
    padding: rem-calc(78 0 72);
    @include bp(tabletXl) {
        padding: rem-calc(60 0 60);
    }
    @include bp(tabletsm) {
        padding: rem-calc(40 0 40);
    }
    .heading {
        text-align: center;
        margin: rem-calc(0 0 34 0);
        h2 {
            color: $white;
        }
        p {
            color: $white;
        }
    }
    .counter-list {
        margin-bottom: rem-calc(30);
        @include bp(tabletsm) {
            margin-bottom: rem-calc(20);
        }
        .counter-wrap {
            text-align: center;
            h4 {
                font-size: rem-calc(62);
                line-height: 1.2;
                color: #89d22f;
                font-family: $zeitung;
                font-weight: $bold;
                @include bp(lg) {
                    font-size: rem-calc(52);
                }
                @include bp(tabletmd) {
                    font-size: rem-calc(42);
                }
                span {
                    font-size: rem-calc(62);
                    line-height: 1.2;
                    color: #89d22f;
                    font-family: $zeitung;
                    font-weight: $bold;
                    @include bp(lg) {
                        font-size: rem-calc(52);
                    }
                    @include bp(tabletmd) {
                        font-size: rem-calc(42);
                    }
                }
            }
            h5 {
                font-size: rem-calc(24);
                line-height: 1.2;
                font-family: $Lato;
                font-weight: $normal;
                color: $white;
                letter-spacing: -0.1px;
                @include bp(lg) {
                    font-size: rem-calc(22);
                }
                @include bp(tabletmd) {
                    font-size: rem-calc(20);
                }
            }
        }
    }
    .awards-btn {
        text-align: center;
        margin: rem-calc(15 0 0 0);
        a {
            font-weight: $bold;
            font-size: rem-calc(19);
            font-family: $zeitung;
            display: inline-block;
            vertical-align: middle;
            padding: rem-calc(10 23);
            background-color: #89d22f;
            border-radius: 50px;
            color: $white;
            text-transform: uppercase;
            border: 1px solid transparent;
            &:hover {
                border-color: #89d22f;
                background-color: transparent;
            }
            @include bp(lg) {
                font-size: rem-calc(16);
            }
            @include bp(tabletmd) {
                font-size: rem-calc(14);
            }
        }
    }
}