header {
  > div {
    width: 100%;
  }
  // Announcement bar
  .announcement-wrap {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 0;
    background-color: $lightGray;
    .container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .announcement {
        margin: 0 0 10px auto;
        @include breakpoint("medium") {
          margin: 0 0 0 auto;
        }
        p {
          font-size: 14px;
          line-height: 16px;
          margin: 0;
        }
      }
    }
    .search-language {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: auto;

      .search-main {
        position: relative;
        .search-toggles {
          position: relative;

          .dashicons-search {
            display: flex;
            align-items: center;
            cursor: pointer;
            color: $navGray;
            font-size: 16px;
          }
          .dashicons-no-alt {
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            color: $blue;
            font-size: 18px;
            opacity: 0;
            visibility: hidden;
            display: none;
          }
        }

        .search-bar {
          position: absolute;
          right: 0;
          top: 30px;
          width: 300px;
          opacity: 0;
          visibility: hidden;
          z-index: 2;
          transition: 0.5s all ease-in-out;

          form {
            position: relative;

            label {
              width: 100%;
              margin: 0;
              .screen-reader-text {
                opacity: 0;
                display: none;
              }
              input {
                width: 100%;
                border: 1px solid $gray;
                box-shadow: none;
                background-color: $white;
                font-size: 1rem;
                line-height: 1.2;
                border-radius: 0;
                transition: 0.5s all ease-in-out;
                padding: 0.625rem 1.875rem;
              }
            }
            button.search-submit {
              -webkit-appearance: none;
              appearance: none;
              background-image: url(../images/search-icon.svg);
              background-repeat: no-repeat;
              background-size: 20px 20px;
              background-color: transparent;
              background-position: 60% center;
              &::before {
                content: none;
              }
            }
          }
        }

        &.active {
          .search-toggles {
            .dashicons-search {
              opacity: 0;
              visibility: hidden;
              display: inherit;
            }
            .dashicons-no-alt {
              display: flex;
              align-items: center;
              opacity: 1;
              visibility: visible;
            }
          }
          .search-bar {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      .gtranslate-wrap select {
        cursor: pointer;
        background-color: transparent;
        border: 0;
        color: $gray;
        font-size: 14px;
        font-weight: 700;
        padding: 0 20px;
        font-family: "Lato", sans-serif;
        appearance: none;
        background-image: url(../images/dropdown-arrow-gray.svg);
        background-repeat: no-repeat;
        background-position: 97% center;
        width: 100%;
        text-overflow: ellipsis;
        background-size: 12px 6px;
        -webkit-appearance: none;
        -webkit-border-radius: 0px;

        option {
          font-family: "Lato", sans-serif;
          font-size: 0.875rem;
          font-weight: bold;
          color: #fff;
          margin: 0 0 1.5625rem 0;
          cursor: pointer;
          background-color: #152737;
          -webkit-appearance: none;
          -webkit-border-radius: 0px;
          border: 0;
        }

        &:focus {
          outline: none;
        }
      }
      .support {
        margin: 0 20px;

        a {
          color: $gray;
          font-weight: 700;
          @include breakpoint("medium") {
            &:hover {
              color: $blue;
            }
          }
        }
      }
    }
  }
  // Main nav
  .navigation {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 86.375rem;

      .home-logo {
        width: 16.66667%;
        @include scale("padding-left", 0px, 30px, $large);
        @include scale("padding-right", 0px, 30px, $large);

        img {
          max-width: 10.3125rem;
          width: 100%;
          min-width: 100px;
        }
      }
      .header-menu-main {
        nav {
          .mobile-menu-toggle {
            display: block;
            z-index: 1;
            cursor: pointer;
            line-height: 40px;
            height: 40px;
            user-select: none;
            -webkit-tap-highlight-color: transparent;
            outline: none;
            white-space: nowrap;

            width: 40px;

            &::after {
              content: "\f333";
              font-family: "dashicons";
              color: #ddd;
              font-size: 2.1875rem;
              margin: 0;
              color: $blue;
            }
            @include breakpoint("medium") {
              display: none;
            }
          }
          .menu-header-menu-container {
            display: none;
            background: $dark-blue;
            position: absolute;
            left: 0;
            width: 100%;
            z-index: 1000;

            ul {
              list-style-type: none;
            }
            > ul {
              height: calc(100vh - 106px);
              @include breakpoint("medium") {
                height: auto;
              }
              overflow-y: auto;
              list-style: none;
              > li {
                
                @include breakpoint("medium") {
                  padding: 0;
                }

                &.mega-menu {
                  &.dropdown-active {
                    > a {
                      span::after {
                        content: "\f142";
                      }
                      pointer-events: inherit;
                    }
                    > .rt-wp-menu-custom-fields-wrapper {
                      display: block;
                      opacity: 1;
                      visibility: inherit;
                    }
                    > ul.sub-menu {
                      display: flex;
                      flex-wrap: wrap;
                      opacity: 1;
                      visibility: inherit;
                    }
                  }

                  > a {
                    span::after {
                      transition: all 0.5s ease-in-out;
                      padding: 5px;
                      @include breakpoint("medium") {
                        padding: 0;
                      }
                      content: "\f140";
                      font-family: dashicons;
                      font-weight: normal;
                      display: inline-block;
                      vertical-align: top;
                      -webkit-font-smoothing: antialiased;
                      -moz-osx-font-smoothing: grayscale;
                      -webkit-transform: rotate(0);
                      -ms-transform: rotate(0);
                      transform: rotate(0);
                      color: inherit;
                      position: relative;
                      background: transparent;
                      height: auto;
                      width: auto;
                      right: auto;
                      line-height: inherit;
                      color: $white;
                      font-size: 18px;
                      @include breakpoint("medium") {
                        color: $navGray;
                      }
                    }
                    pointer-events: none;
                    @include breakpoint("medium") {
                      pointer-events: inherit;
                    }
                  }
                }
                font-weight: $bold;
                @include scale("margin-right", 0px, 25px, $large);
                @include breakpoint("medium") {
                  padding: 17px 0;
                }
                &:last-child {
                  margin-right: 0;
                  padding-bottom: 25px;
                }

                // Top level nav link
                > a {
                  @include scale("font-size", 14px, 16px, $large);
                  color: $white;
                  padding: 0 10px;

                  &:hover {
                    & > span::after {
                      color: $blue;
                    }
                  }
                }

                > ul.sub-menu {
                  display: none;
                  transform: translateY(10px);
                  transition: opacity 200ms ease-in, transform 200ms ease-in,
                    visibility 200ms ease-in;
                  padding: 20px;

                  > li {
                    padding: 20px 0;

                    // Sub menu non-links & links sub headings really
                    > a:not([href]) {
                      color: $white;
                      font-size: 16px;
                      &:hover {
                        color: $white;
                      }
                    }
                    > a {
                      color: $white;
                      font-size: 16px;
                      font-weight: 700;
                      @include breakpoint("medium") {
                        &:hover {
                          color: $blue;
                        }
                      }
                    }
                    // All nested links or normal/main links
                    > ul li a {
                      color: $white;
                      line-height: 1.6666666rem;
                      font-size: 14px;
                      @include breakpoint("medium") {
                        &:hover {
                          color: $blue;
                        }
                      }
                      // non links so the sub sub headers
                      &:not([href]) {
                        color: $white;
                        font-weight: 700;
                        margin-bottom: 10px;
                        font-size: 16px;
                      }
                    }
                    span.rt-wp-menu-custom-fields-custom-text {
                      color: $white;
                      font-size: 16px;
                      font-weight: $normal;
                    }
                  }
                }
                // First mega menu ( Solutions )
                &:first-child {
                  > ul.sub-menu {
                    align-items: flex-start;
                    justify-content: space-between;
                    // Top level sub menus
                    > li {
                      width: 100%;
                      margin-bottom: 20px;
                      @include breakpoint("small") {
                        width: 45%;
                        margin-bottom: 0;
                      }
                      @include breakpoint("medium") {
                        width: 22%;
                        &:first-child {
                          width: 47%;
                        }
                      }
                      display: flex;
                      flex-direction: column;

                      > a {
                        display: block;
                        border-bottom: 1px solid #7d7d7d;
                        padding-bottom: 15px;
                        font-size: 16px;
                        font-weight: 700;
                      }
                      // Sub menus
                      > ul {
                        margin-top: 20px;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        > li {
                          width: 45%;
                          min-width: 190px;
                          // Font size scale 14px -> 16px
                          font-size: 14px;
                          @include breakpoint("small") {
                            min-width: 200px;
                          }
                        }
                      }
                      &:nth-child(2) {
                        > ul {
                          > li {
                            margin-bottom: 20px;
                            width: 47%;
                            min-width: 190px;
                            @include breakpoint("small") {
                              min-width: 100px;
                            }
                            ul li {
                              width: 100%;
                            }
                          }
                        }
                      }
                      &:nth-child(3) {
                        > a {
                          border-bottom: 0;
                        }
                        div {
                          div {
                            img {
                              width: 80%;
                              @include breakpoint("small") {
                                width: 100%;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
                // Industries mega menu
                &:nth-child(2) {
                  ul.sub-menu {
                    justify-content: space-between;
                    flex-wrap: wrap;
                    > li {
                      display: flex;
                      flex-direction: column;
                      width: 100%;

                      > a {
                        margin-bottom: 20px;
                        @include breakpoint("medium") {
                          min-height: 72px;
                        }
                        @include breakpoint("large") {
                          min-height: 54px;
                        }
                      }
                      > ul {
                      }
                      @include breakpoint("small") {
                        width: 45%;
                      }
                      @include breakpoint("medium") {
                        width: 20%;
                      }
                      &:nth-child(-n + 2) {
                        width: 45%;
                        &.hide-me > a {
                          display: none;
                        }

                        > ul {
                          display: flex;
                          flex-direction: column;

                          > li {
                            width: 100%;
                            > a {
                              margin-bottom: 0;
                              min-height: 0;
                            }
                          }
                        }
                        @include breakpoint("medium") {
                          width: 12.5%;
                        }
                      }
                    }
                  }
                }
                // Products mega menu
                &:nth-child(3) {
                  .hide-me > a {
                    display: none;
                  }
                  > ul.sub-menu {
                    @include breakpoint("medium") {
                      justify-content: space-between;
                    }
                    // Main links
                    > li:first-child {
                      @include breakpoint("medium") {
                        width: 70%;
                      }
                      > ul {
                        justify-content: space-between;
                        flex-wrap: wrap;
                        display: flex;
                        > li {
                          min-width: 200px;
                          display: flex;
                          justify-content: flex-start;
                          align-items: center;
                          margin-bottom: 15px;
                          @include breakpoint("medium") {
                            position: relative;
                            min-width: 0;
                            width: 32%;
                            margin-bottom: 50px;
                          }

                          > a {
                            order: 2;
                            font-weight: 700;
                          }
                          > div {
                            width: 40px;
                            height: 40px;
                            margin-right: 15px;
                            @include breakpoint("medium") {
                              width: 60px;
                              height: 60px;
                            }

                            > div {
                              display: flex;
                              height: 100%;
                              align-items: center;
                              > img {
                                width: 100%;
                              }
                            }

                            > span {
                              display: none;
                              @include breakpoint("medium") {
                                display: block;
                                position: absolute;
                                margin-top: -10px;
                                left: 80px;
                                font-size: 14px;
                              }
                            }
                          }
                        }
                      }
                    }
                    > li:last-child {
                      display: flex;
                      flex-direction: column;
                      width: 100%;
                      @include breakpoint("medium") {
                        width: 22%;
                      }

                      > a {
                        margin-bottom: 20px;
                      }
                    }
                  }
                }
                // Resources mega menu
                &:nth-child(5) {
                  .hide-me > a {
                    display: none;
                  }
                  ul.sub-menu {
                    @include breakpoint("small") {
                      justify-content: space-between;
                    }
                    > li {
                      display: flex;
                      flex-direction: column;
                      width: 100%;
                      @include breakpoint("small") {
                        width: 48%;
                      }
                      @include breakpoint("medium") {
                        width: 22.5%;
                      }
                      > a {
                        margin-bottom: 20px;
                      }
                    }

                    > li:first-child {
                      a {
                        margin-bottom: 0;
                      }
                      > ul {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        > li {
                          width: 45%;
                        }
                      }
                    }
                  }
                }

                > a {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  width: 100%;
                  height: 40px;
                }
                > .rt-wp-menu-custom-fields-wrapper {
                  transform: translateY(10px);
                  transition: opacity 200ms ease-in, transform 200ms ease-in,
                    visibility 200ms ease-in;
                  display: none;
                  .heading {
                    font-size: 14px;
                    padding: 20px;
                    background-color: $dark-navy-blue;
                    p {
                      color: $white;
                    }
                    a {
                      color: $white;
                      font-weight: 700;
                      @include breakpoint("medium") {
                        &:hover {
                          color: $blue;
                        }
                      }
                    }
                  }
                }
                @include breakpoint("medium") {
                  &:hover {
                    > .rt-wp-menu-custom-fields-wrapper {
                      transform: translateY(0);
                      display: block;
                    }
                    ul.sub-menu {
                      transform: translateY(0);
                      display: flex;
                      flex-wrap: wrap;
                    }
                  }
                }
              }
            }
            // Start of full nav
            @include breakpoint("medium") {
              .contact-btn {
                margin-right: 10px;
                > a {
                  padding: 10px 15px !important;
                  border-radius: 3.125rem !important;
                  background-color: transparent !important;
                  border: 1px solid #152737 !important;
                  display: inline-block;
                  vertical-align: middle;
                  color: #152737 !important;
                  line-height: normal !important;
                  height: auto !important;
                  transition: color 0.2s, background-color 0.2s !important;
                  &:hover {
                    color: #0e93d2 !important;
                    border-color: #0e93d2 !important;
                  }
                }
              }
              .try-parasoft-btn > a {
                padding: 10px 15px !important;
                border-radius: 3.125rem !important;
                background-color: #0e93d2 !important;
                border: 1px solid #0e93d2 !important;
                display: inline-block;
                vertical-align: middle;
                color: #fff !important;
                line-height: normal !important;
                height: auto !important;
                transition: color 0.2s, background-color 0.2s !important;
                &:hover {
                  color: #fff !important;
                  background-color: #004877 !important;
                  border-color: #004877 !important;
                }
              }
              display: block;
              position: inherit;
              // background: transparent;
              > ul {
                display: flex;
                background-color: #fff;
                > li {
                  > a {
                    color: $navGray;
                  }
                  > .rt-wp-menu-custom-fields-wrapper {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 112px;
                    width: 100%;
                    z-index: 1000;
                    opacity: 0;
                    visibility: hidden;
                  }
                  > ul.sub-menu {
                    background: $navGray;
                    display: flex;
                    position: absolute;
                    left: 0;
                    z-index: 1000;
                    top: 170px;
                    opacity: 0;
                    visibility: hidden;
                  }
                  @include breakpoint("medium") {
                    &:hover {
                      > a {
                        color: $blue;
                      }
                      > .rt-wp-menu-custom-fields-wrapper {
                        opacity: 1;
                        visibility: inherit;
                      }
                      > ul.sub-menu {
                        opacity: 1;
                        visibility: inherit;
                      }
                    }
                  }
                }
              }
            }
          }
          &.mobile-menu-open {
            .mobile-menu-toggle::after {
              content: "\f153";
            }
            .menu-header-menu-container {
              display: block;
            }
          }
        }
      }
    }
  }
}
